<main>
	<h1>About page</h1>
	<p>
		Welcome world! This is a simple back-end web application. The tools that were used to create this site are:
	</p>
	
	<ul>
		<li>NodeJS - ExpressJS</li>
		<li>ExpressJS - Express-Handlebars</li>
		<li>MongoDB - Mongoose</li>
	</ul>
</main>