<h1>DETAILS:</h1>
<p>
	title: {{book.title}}
</p>

<p>
	author: {{book.author}}
</p>

<p>
	Summary: {{book.description}}
</p>

<a href="/books">BACK</a>

{{!-- TODO: Render book image from model --}}
<img src="{{book.image}}" alt="" />